/** COLORS PALLETE ARE FROM DOGEHOUSE TV SOURCE
/** https://github.com/benawad/dogehouse/blob/staging/kibbeh/src/styles/globals.css **/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-button-text: #fff;
  --color-primary-100: #dee3ea;
  --color-primary-200: #b2bdcd;
  --color-primary-300: #5d7290;
  --color-primary-600: #323d4d;
  --color-primary-700: #242c37;
  --color-primary-800: #151a21;
  --color-primary-900: #0b0e11;
  --color-secondary-washed-out: #879eed;
  --color-secondary: #5575e7;
  --color-accent-glow: rgba(253, 77, 77, 0.3);
  --color-accent: #fd4d4d;
  --color-accent-hover: #fd6868;
  --color-accent-disabled: #f5bfbf;
  --screen-height-reduction: 0px;
  --color-primary-100-translucent: rgba(222, 227, 234, 0.15);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Uni Sans", Verdana, Tahoma;
}

@layer base {
  body {
    @apply bg-swatch-1;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto text-green-500 hover:text-white hover:rounded-xl rounded-3xl transition-all duration-300 ease-linear cursor-pointer;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-swatch-5
    text-xs font-semibold 
    transition-all duration-100 scale-0 origin-left;
  }
}

.trans-grow {
  transition: all 0.2s ease-in-out;
}

.trans-grow:hover {
  transform: scale(1.1);
}
