/** COLORS PALLETE ARE FROM DOGEHOUSE TV SOURCE
/** https://github.com/benawad/dogehouse/blob/staging/kibbeh/src/styles/globals.css **/

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Uni Sans", Verdana, Tahoma;
  background-color: #161819;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto text-green-500 hover:text-white hover:rounded-xl rounded-3xl transition-all duration-300 ease-linear cursor-pointer;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md absolute
    text-white bg-swatch-6
    text-xs 
    transition-all duration-100 scale-0 origin-left;
  }
}

.trans-grow {
  transition: all 0.2s ease-in-out;
}

.trans-grow:hover {
  transform: scale(1.1);
}

.trans-down {
  transition: all 0.5s ease-in-out;
}

.img-over {
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.tab-container:hover img {
  opacity: 0.3;
}

.tab-container:hover .middle {
  opacity: 1;
}
